@primary-bg: rgba(0, 0, 0, 0.85);
@secondary-bg: rgba(255, 255, 255, 0.065);
@tertiary-bg: rgb(82, 82, 82);

@primary-shadow: rgba(0, 0, 0, 0.1);


@primary: rgb(255, 255, 255);
@accent: rgb(242, 129, 35);

@spacing: 1em;

@shadow: 0 0 0.25em 0.1em @primary-shadow;
